<div class="container" style="text-align:center" >
	<h2>Available Listings</h2>
	<hr style="width: 100%; color: lightgray  6f77; height: 5px; background-color:lightgray;" />
</div>

<div align="center">
<agm-map [zoom]=12 [latitude]="start_zoom_lat" [longitude]="start_zoom_lng">
  <agm-marker
    [latitude]="coordinate.latitude"
    [longitude]="coordinate.longitude"
    (markerClick) = "doSomething(i)"
    *ngFor="let coordinate of coordinates; let i=index">
  </agm-marker>
  </agm-map><!-- <div #gmap style=”width:100%;height:400px”></div> -->
</div>
