<div class="container">
  <div class="row" style="align:center">

<div  *ngFor="let house of houses">
    <div class="col" style="width:100%">
      <div class="card" style="width: 18rem">
               <img class="d-block w-100" src="http://www.yustusa.com/9/2015/06/awesome-elegant-design-of-the-inter-locking-bricks-houses-images-can-be-decor-with-brown-garage-door-can-add-the-beauty-inside-with-modern-lighting-inside-the-house.jpg"
                      alt="Third slide">
                    </div>
              <div class="card-body col" style="width:100%">
              <h5 class="card-title">{{house.realtorLname}}</h5>
              <p class="card-text">{{house.address}}</p>
              <button class="btn btn-primary" (click)="insertPrincipleToCalculator(house.price)">Go somewhere</button>
              <br>
              

              </div>
                   
            </div>
            </div>

          </div>
    </div>

    




  <!--   <div class="col" style="width:100%">Column</div>
    <div class="col" style="width:100%">Column</div>
    <div class="w-100"></div>
    <div class="col" style="width:100%">Column</div>
    <div class="col" style="width:100%">Column</div>
    <div class="col" style="width:100%">Column</div> -->
<!--   </div>
</div> -->