<div class="container color-dark" style="text-align:center">
	<h3>Mortgage Calculator</h3>
</div>
<div class="container color-light">
	<div class="col">
		<form>
			<input name="principalAmount" class="number" id="principalAmount" type="number" placeholder="Principal Amount" step="0.01" [(ngModel)]="principal">
			<input name="rate" class="number" id="rateAmount" type="number" placeholder="Interest Rate Amount" step="0.01" [(ngModel)]="rate">
			<input name="years" class="number" id="numberOfYears" type="number" min="1" placeholder="Years" [(ngModel)]="years">
			<input name="btn" type="submit" class="btn" value="Calculate" (click)="calculate()">
		</form>
	</div>
	<div class="col">
		<p class="output-container">
			Payment Amount: {{ paymentAmount }}
			<!-- Total Interest: {{ totalInterest }}
			Total Cost: {{ totalCost }} -->

		</p>
	</div>
</div>
