<div class="container" style="text-align:center">
	<h3>Mortgage Calculator</h3>
</div>
<div class="container color-light">
    <!--Row with two equal columns-->
    <div class="row">
        <div class="col-md-6">
        	<form>
        		<div class="form-group">
        			<input name="principalAmount" class="form-control" id="principalAmount" type="number" placeholder="Principal Amount" step="0.01" [(ngModel)]="principal">
					<input name="rate" class="form-control" id="rateAmount" type="number" placeholder="Interest Rate Amount" step="0.01" [(ngModel)]="rate">
					<input name="years" class="form-control" id="numberOfYears" type="number" min="1" placeholder="Years" [(ngModel)]="years">
					<input name="btn" type="submit" class="btn btn-success btn-lg" value="Calculate" (click)="calculate()">
        		</div>
			</form>
			<div class="output-container">
				<h4>Payment Amount: {{ paymentAmount }}</h4>
				<h4>Total Interest: {{ totalInterest }}</h4>
				<h4>Total Cost: {{ totalCost }}</h4>
			</div>
        </div>
        <div class="col-md-6">
					<app-map></app-map>
				</div>
        <div class="col-md-12 graph" [hidden]="!chart">
			<canvas id="canvas">{{ chart }} </canvas>
        </div>

    </div>

</div>
