<div class="container" style="text-align:center" >
	<h2>Mortgage Calculator</h2>
	<hr style="width: 100%; color: lightgray  6f77; height: 5px; background-color:lightgray;" />
</div>
<div class="container">
	<div class="row">
		<div class="col-6" align="left">
		<div class="row align-items-center">
		<div class="col-5" align="right"><h5>Principal Amount ($):</h5> </div>
		<div class="col-7" align="left">
			<input name="principalAmount" class="number" id="principalAmount" type="number" placeholder="Enter Mortgage Amount..." step="0.01"
			 [(ngModel)]="principal">
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-5" align="right"><h5>Interest Rate (%):</h5> </div>
		<div class="col-7" align="left">
			<input name="rate" class="number" id="rateAmount" type="number" placeholder="Enter Interest Rate..." step="0.01" [(ngModel)]="rate">
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-5" align="right"><h5>Loan Length (Years):</h5> </div>
		<div class="col-7" align="left">
			<input name="years" class="number" id="numberOfYears" type="number" min="1" placeholder="Enter Years of Mortgage..." [(ngModel)]="years">
		</div>
	</div>
		
	</div>
	
	<div class="col-6" align="left">
	<div class="output-container">
		<h5>Payment Amount: <strong>${{ paymentAmount }}</strong></h5>
		<br> <h5>Total Interest: <strong>${{ totalInterest }}</strong></h5>
		<br> <h5>Total Cost: <strong>${{ totalCost }}</strong></h5>
		<br>
		<div class="" align="left">
		<form>
			<input name="btn" type="submit" class="btn btn-primary" value="Calculate" (click)="calculate()">
		</form>
	</div>
	</div>
</div>
	</div>

	<br>
	<br>
	<br>
	<div class="col" align="center">
		<div [hidden]="!chart">
			<canvas id="canvas">{{ chart }} </canvas>
		</div>
	</div>

</div>