<div class="container" style="text-align:center">
	<h2>Realtor Information</h2>
</div>
<div class="container">
	<div class="row align-items-center">
		<div class="col-3" align="right">Home Address: </div>
		<div class="col-9" align="left">
			<input name="address" class="text" id="address" type="text" placeholder="Enter Home Address..." [(ngModel)]="address">
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-3" align="right">Home Price: </div>
		<div class="col-9" align="left">
			<input name="price" class="number" step=0.01 id="price" type="number" placeholder="Enter Home Price..." step="0.01" [(ngModel)]="price">
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-3" align="right">First Name: </div>
			<div class="col-9" align="left">
				<input name="realtorFname" class="text" id="realtorFname" type="text" placeholder="Enter First Name..." [(ngModel)]="realtorFname">
			</div>
	</div>
	<div class="row align-items-center">
		<div class="col-3" align="right">Last Name: </div>
			<div class="col-9" align="left">
				<input name="realtorLname" class="text" id="realtorLname" type="text" placeholder="Enter Last Name..." [(ngModel)]="realtorLname">
			</div>
	</div>
	<div class="row align-items-center">
		<div class="col-3" align="right">Email: </div>
			<div class="col-9" align="left">
				      	<input name="realtorEmail" class="text" id="realtorEmail" type="text" placeholder="Enter Email..." [(ngModel)]="realtorEmail">
			</div>
	</div>
	<div class="row align-items-center">
		<div class="col-3" align="right">Phone Number: </div>
			<div class="col-9" align="left">
			      	<input name="phone_number" class="text" id="phone_number" type="text" placeholder="Enter Phone Number..." [(ngModel)]="phone_number">

			</div>
	</div>
		<div class="" align="center">
			<form>
				<input name="btn" type="submit" class="btn btn-primary" (click)="submitHousePosting()">

				<label for="imageUpload">Image Upload</label>
			   <!-- <input type="file" (change)="fileEvent($event)" name="imageUpload" id="imageUpload"/> -->

			</form>
		</div>


</div>
	
